

@model ViewImageViewModel

@if (!Model.Unlocked)
{
    <form method="post">
    <div b-wzwicsxrru class="container">
        <main b-wzwicsxrru role="main" class="pb-3">

            <div class="row">
                <div class="col-md-6 offset-md-3 bg-light p-4 rounded shadow">
                    @if (Model.InvalidMessage != null)
                    {
                        <font color="red"><h3 >Invalid password</h3></font>
                    }
                    <h4>Please enter the password for this image:</h4>
                    
                        <input type="hidden" name="id" value="@Model.Image.Id" />
                        <input type="text" class="form-control" placeholder="Password" name="password" />
                        <br />
                        <button class="btn btn-primary w-100">Submit</button>
                        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8NjKgQYblgJMgX6562dFMTFeS76M4x56gegGsJPfGDY6viFUnQlCXpt9GQMplMMoWYRD5Wk9vW0gfM0-NVcC01iViqzeY7YJXEnPpbwu3yRJBe1_qZsjMiBm6Hz6luTbE1nomDJOdHxjzR15Jd-5ASc" />
                    
                </div>
            </div>

        </main>
    </div>
    </form>
}
else
{
    <div b-wzwicsxrru class="container">
        <main b-wzwicsxrru role="main" class="pb-3">

            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <img src="/uploads/@Model.Image.Img" style="width: 800px;" />
                    <br />
                    <h3>Views: @Model.Image.Views</h3>
                </div>
            </div>

        </main>
    </div>
}

